$sectionColor1: #e7dec8;
$textColor: #fff;
$textColorHover: rgb(157, 150, 150);
$button: #082032;
$buttonHover: #041c32;
$headingTextColor: #30475e;
$sectionColor2: #2d4263;
$iconColor: #d89216;
$iconHover: #a16d13;
$subtitle: #8f8f8f;
$login-signupBtn: #ffd24c;
$login-signupBtnHover: #ab8d35;
