@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Ubuntu:wght@300;500;700&display=swap");
// Font Variables
$montserrat: "Montserrat", sans-serif;
$ubuntu: "Ubuntu", sans-serif;

// MAP font size
$font-weight: (
  "light": 300,
  "medium": 500,
  "bold": 700,
);
